img {
    width:15%;
    aspect-ratio: 5/4;
    object-fit: contain;
    pointer-events: none;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -50px;
  }

  ul li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    font-size: 120%;
    text-decoration: none; 
  }

  ul li a{
  text-decoration: none; 
  color: rgb(95, 95, 95);
  font-family: 'Montserrat';
  opacity: 0.6;
  }
  .ul li a:hover {
    opacity: .9;
}

    .ul li a:active {
    opacity: .8;
}

  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
  }
.cover {
    object-fit: scale-down;
    width: auto;
    height: auto;
  }

  .pageHeader {
    background-image: url("lerone-pieters-7O1flXa-ycs-unsplash (1).jpg");
    height: 110%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: block;
    margin-top: -110px; 
   padding-bottom: 20%;
}
    .pageHeader .headerText {
      width: 100%;
      height: 50%;
      font-family: 'Montserrat';
      text-align: center; 
      color:rgb(255, 255, 255);
    }
      .pageHeader .headerText h1 {
        padding-top: 14%;
        user-select: none;
        font-size: 90px; }
      .pageHeader .headerText h2 {
        font-size: 26px;
        user-select: none;
        font-weight: 100;
     }
     header {
        padding-top: 80px;
        text-align: center;
        font-size: 300%;
        font-family: 'Montserrat';
        text-underline-position: under;
     }
     h4 {
        text-align: center;
        font-size: 120%;
        font-family: 'Montserrat';
        padding-left: 200px;
        padding-right: 200px;
        margin-bottom: 120px;
        opacity: .6;
     }

     h5 {
        text-align: center;
        font-size: 120%;
        font-family: 'Montserrat';
        padding-left: 200px;
        padding-right: 200px;
        margin-bottom: 120px;
        opacity: .6;
     }
     
     .footer-item {
      display:flex;
      justify-content: center;
        opacity: .6;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        color: black;
        font-family: 'Montserrat';
        margin-bottom: 30px;
    }
    
        .footer-item:hover {
            opacity: .9;
        }
    
        .footer-item:active {
            opacity: .8;
        }

