body {
  background-color: #282b30;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e2124;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  margin: 0;
  color: #7289da;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  color: #7289da;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

p {
  color: #7289da;
  font-size: 18px;
}
.profile-image {
  width: 500px;
  height: 500px;
}

.bio {
  margin-top: 20px;
  text-align: center;
}
