body {
  background: url(https://tinyurl.com/22j8w2ux) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffffff;
  font-family: FreeMono, monospace;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 18px;

}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
}

h3 {
  margin: 0;
  font-size: 18px;

}

main {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  padding: 20px;
}

p {
  font-size: 50px;
  padding-top: 10px;
}


.bio {
  margin-top: 100px;
  padding-top: 10px;
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.Left {
text-align: left
}


