body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  color: gray;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.bio {
  margin-top: 20px;
  text-align: center;
}
